<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="D:\Parcial 2\info.log"/>
  </appSettings>
  <connectionStrings>
    <add name="cnn" connectionString="Data Source=DESKTOP-J8201N8\SQLEXPRESS;Initial Catalog=Parcial2;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>